body {
    background: #666;
}

.wrap > .main-container {
    background: #f2f2f2;
    box-shadow: 0 0 15px #000;
}

.breadcrumb {
    background: #333;
}

.navbar {
    box-shadow: 0 0 15px #222;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -250px;
    padding: 0 0 250px;
}

.footer {
    border-color: #222;
    padding: 100px 0;
    background: #333;
    color: #fff;
}

.footer a {
    color: #ddd;
}

.panel {
    border: 1px solid #ddd;
}

.navbar-form .btn {
    background: #222;
    border-color: #222;
    color: #f5f5f5;
}

.navbar-form .form-control {
    background-color: #666;
    border-color: #222;
    color: #f5f5f5;
}

.thumbnail {
    border: 1px solid #ddd;
}

.thumbnail:hover {
    box-shadow: 0 0 15px #222;
}

.thumbnail .image {
    opacity: 1;
}

.thumbnail:hover .image {
    opacity: .6;
}

.panel-default > .panel-heading {
    color: #fff;
}

.panel-default > .panel-heading .badge {
    color: #fff;
    background-color: #999;
}

.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
    background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}


/*Index Page*/
#new-product{
    margin-top: -100px;
    padding: 0 0 15px;
}
#index-slider .carousel-caption {
    bottom: 100px;
}
#index-slider .carousel-indicators {
    bottom: 100px;
}