#wrapper>.navbar-static-top {
    margin-bottom: 0;
}
.table-container {
    overflow: auto;
}
.site-login{
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    max-width: 450px;
    margin: auto;
}
@media(max-width:768px) {
    .site-login {
        left: 0;
        right: 0;
    }
}
.form-horizontal .control-label{
    text-align: left;
}