html,body {
    height: 100%;
}
body {
    background-color: #222;
    font-weight: 200;
    letter-spacing: .03em;
}
h1,h2,h3 {
    font-weight: lighter;
    letter-spacing: .04em;
}
.table-container {
    overflow: auto;
}
.site-login{
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 450px;
    margin: auto;
}
#page-wrapper {
    padding: 0;
    background: #E6E6E6;
    border-radius: 0 0 10px 10px;
}
.main-container {
    padding: 15px;
}
.footer {
    background: #222;
    padding: 10px 15px;
    text-align: center;
    font-size: .9em;
}
.footer, .footer a{
    color: #ddd;    
}
.navbar-static-top {
    margin-bottom: 0;
}
.breadcrumb {
    background: #282A36;
    border-radius: 0;
}
.breadcrumb>li+li:before {
    color: #777;
}

@media(min-width:768px) {
    #page-wrapper {
        padding: 0;
        margin: 0 0 0 200px;
        border-left: 0;
        border-radius: 0 0 0 10px;
    }
    .sidebar {
        width: 200px;
    }
    .footer {
        text-align: right;
    }
}

.form-horizontal .control-label{
    text-align: left;
}
.mce-fullscreen .mce-tinymce {
    z-index: 1000;
}
.navbar-inverse {
    border-color: #222;
}
.sidebar ul li {
    background-color: #222;
    border-bottom: none;
}
.sidebar ul li a:hover, 
.sidebar ul li a:focus, 
.sidebar ul li a:active, 
.sidebar ul li a.active,
.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:focus, 
.nav .open>a:hover
{
    background-color: #282A36;
    color: #fff;
    outline: none;
}