.navbar-brand {
    padding: 0;
}
.navbar-brand>img{
    height: 100%;
}
.ribbon{
    top:0;
}
.product {
    height: 550px;
    overflow: auto;
}
.product .description {
    height: 150px;
    overflow: auto;
}

#productMain .sizes a{
    line-height: 26px;
    width: 26px;
    height: 26px;
    font-size: 11px;
}