.navbar-brand {
    padding: 0;
}
.navbar-brand>img{
    height: 100%;
}
.ribbon{
    top:0;
}
.product {
    height: 550px;
    overflow: auto;
}
.product .description {
    height: 150px;
    overflow: auto;
}

#productMain .sizes a{
    line-height: 26px;
    width: 26px;
    height: 26px;
    font-size: 11px;
}
.home-carousel.white-mask .dark-mask{
    background: #e0e0e0;
}
.home-carousel.white-mask h2 {
    color: #333;
}
.ribbon .theribbon{
    width: auto;
}
.tag-cloud li.active a {
    background: #38a7bb !important;
    color: #fff !important;
}
.category-menu li.active a{
    background: #38a7bb;
}