.text-thin {
    font-weight: lighter !important;
}

.grid .grid-item {
    padding: 0 2px 4px;
}

.grid .grid-item .thumbnail {
    border-radius: 0;
    margin: 0;
}

.square-fix-300 {
    width: 300px;
    height: 300px;
}

.bg-cover {
    background: #fff no-repeat center center;
    background-size: cover;
}

.header-breaker {
    height: 200px;
    background-color: #222;
    background-image: url(../images/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}