html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -150px;
    padding: 0 0 150px;
    background: url('../images/rough_diagonal.png') repeat #e6e6e6;
}
.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background: #333;
    color: #fff;
    height: 150px;
    padding-top: 20px;
}
.footer .social {
    margin-bottom: 20px;
}
.footer .social .btn{
    margin: 0 5px;
}
.footer a{
    color: #d9534f;
}
.cart-pop{
    font-size: 90%;
}
.cart-pop .btn {
    padding: 3px 8px;
    font-size: 90%;
}
#index-slider .item{
    max-height: 500px;
    overflow: hidden;
    position: relative;
}
@media(min-width:768px) {
    .product-slider  .item{
        max-height: 400px;
        overflow: hidden;
        position: relative;
    }
}

.carousel img {
    width: 100%;
}
.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.thumbnail {
    padding: 0;
    overflow: hidden;
}
.thumbnail:hover {
    box-shadow: 0 0 15px #ccc;
}
.thumbnail .image {
    background: no-repeat center center;
    background-size: cover;
    height: 150px;
    opacity: 1;
}
.thumbnail:hover .image{
    opacity: .6;
}

.thumbnail .stock {
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
}
.thumbnail .caption {
    height: 140px;
    overflow: hidden;
}

.thumbnail .caption h4 {
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail .ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.line-through{
    text-decoration: line-through;
}
.nav-tabs{
    z-index: 1;
    position: relative;
    bottom: -1px;
}
.tab-content {
    border: 1px solid #ddd;
    padding: 15px;
}
.modal-full {
    width: 100%;
    padding: 0 20px;
}
.transition {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 14px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 20px;
}
.btn-transparent {
    border-color:#fff;
    color:#fff;
}
.btn-transparent:hover {
    border-color:#ddd;
    color:#ddd;
}
section {
    padding: 50px 0;
}
.navbar-inverse{
    border: none;
}
.navbar-inverse .navbar-nav>li>a{
    color:#f5f5f5;
}
.bg-red {
    background: #d9534f;
}